<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">
            <i class="fas fa-paw"></i>
            petSpace
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Add Pet</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/provider/{{provider.id}}/allpets">View All Pets For This Provider</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/provider/{{provider.id}}/petsforpickup">View Pets Waiting For Pickup</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/provider/{{provider.id}}/petsforreturn">Views Pets Ready For Return</a>
                  </li>
                </ul>
              </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <h3>Provider: {{provider.name}}</h3>
        </div>
        <div class="row">
            <p>Enter information for a new pet:</p>
        </div>
        <div class="row">
            <div class="col-7">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-9">
                    <label for="inputEmail4">Name</label>
                    <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleFormControlSelect1">Category</label>
                        <select class="form-control" id="category">
                            <option>Cat</option>
                            <option>Dog</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male" checked="checked">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                    <label for="inputEmail4">Breed</label>
                    <input type="text" class="form-control" id="breed">
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label for="exampleFormControlSelect1">Temperament</label>
                        <select class="form-control" id="temperament">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Photo URL</label>
                    <input type="text" class="form-control" id="photoURL">
                </div>
                                
                <button type="submit" class="btn btn-primary" id="addpet" data-id="{{provider.id}}">Add Pet</button>
                <br><br>
                <span id="msg" style="color: red"></span>
                <br>
            </form>
            
        </div>
        
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/add-pet.js"></script>