<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <i class="fas fa-paw"></i>
        petSpace
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/provider/{{prov_id}}/addpet">Add Pet</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/provider/{{prov_id}}/allpets">View All Pets For This Provider</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/provider/{{prov_id}}/petsforpickup">View Pets Waiting For Pickup</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/provider/{{prov_id}}/petsforreturn">Views Pets Ready For Return</a>
                </li>
            </ul>
            </div>
</nav>

<br>
<div class="container">
    <div class="row">
        <h3 id="prvdr" data-id="{{prov_id}}">Pet ID: {{current_pet_id}}</h3>
    </div>
    <div class="row">
        <p>Viewing transactions for this pet:</p>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <div class="row">
                        <div class="col-1" style="text-align:center">Transaction ID:</div>
                        <div class="col-2" style="text-align:center">Pet:</div>
                        <div class="col-1" style="text-align:center">Provider ID:</div>
                        <div class="col-1" style="text-align:center">Picked Up?</div>
                        <div class="col-1" style="text-align:center">Dropped Off?</div>
                        <div class="col-3" style="text-align:center">Created At:</div>
                        <div class="col-3" style="text-align:center">Updated At:</div>
                    </div>
                {{#each transactions}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-1">{{id}}</div>
                        <div class="col-2"><p><b>{{pet_name}}</b></p>
                            <p>(Pet ID: {{pet_id}})</p></div>
                        <div class="col-1">{{provider_id}}</div>
                        <div class="col-1">{{#if pickedUp}}Yes{{/if}}
                            {{#unless pickedUp}}No{{/unless}}
                        </div>
                        <div class="col-1">{{#if droppedOff}}Yes{{/if}}
                            {{#unless droppedOff}}No{{/unless}}</div>
                        <div class="col-3">{{createdAt}}</div>
                        <div class="col-3">{{updatedAt}}</div>
                    </div>
                </li>
                {{/each}}
            </ul>
            <br><br>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
